<?xml version="1.0" encoding="UTF-8"?>
<!--
 Octagon: Database frontend.
 Copyright (C) 2020-2022 the original author or authors.

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; version 2
 of the License only.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.nanoboot.octagon.plugin.actionlog.impl.mappers.ActionLogMapper">

    <resultMap id="actionLogResultMap" type="org.nanoboot.octagon.plugin.actionlog.classes.ActionLog">
        <id property="id" column="ID" typeHandler="org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler"/>

        <result property="universalDateTime" column="UNIVERSAL_DATE_TIME" typeHandler="org.nanoboot.octagon.entity.typehandlers.UniversalDateTimeTypeHandler"/>
        <result property="actionType" column="ACTION_TYPE" typeHandler="org.nanoboot.octagon.entity.typehandlers.ActionTypeTypeHandler"/>
        <result property="type" column="TYPE"/>
        <result property="objectId" column="OBJECT_ID" typeHandler="org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler"/>

        <result property="data" column="DATA" typeHandler="org.nanoboot.octagon.entity.typehandlers.JsonObjectTypeHandler"/>
        <result property="name" column="NAME"/>
        <result property="comment" column="COMMENT"/>
        <result property="revisionNumber" column="REVISION_NUMBER"/>
    </resultMap>

    <sql id="actionLogColumns">
        "ID",
        "UNIVERSAL_DATE_TIME", "ACTION_TYPE", "TYPE", "OBJECT_ID",
        "DATA", "NAME", "COMMENT", "REVISION_NUMBER"
    </sql>

    <select id="read" parameterType="String" resultMap="actionLogResultMap">
        SELECT
        <include refid="actionLogColumns"/>
        FROM "ACTION_LOG"
        WHERE "ID" = #{id}
    </select>

    <update id="update" parameterType="org.nanoboot.octagon.plugin.actionlog.classes.ActionLog">
        UPDATE "ACTION_LOG" SET
        "UNIVERSAL_DATE_TIME" = #{universalDateTime},
        "ACTION_TYPE" = #{actionType},
        "TYPE" = #{type},
        "OBJECT_ID" = #{objectId},

        "DATA" = #{data,jdbcType=VARCHAR},
        "NAME" = #{name},
        "COMMENT" = #{comment},
        "REVISION_NUMBER" = #{revisionNumber}
        WHERE "ID" = #{id}
    </update>

    <insert id="create" parameterType="org.nanoboot.octagon.plugin.actionlog.classes.ActionLog">
        INSERT INTO "ACTION_LOG" (<include refid="actionLogColumns"/>)
        VALUES
        (
        #{id,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler},

        #{universalDateTime,javaType=org.nanoboot.powerframework.time.moment.UniversalDateTime,jdbcType=VARCHAR,typeHandler=org.nanoboot.octagon.entity.typehandlers.UniversalDateTimeTypeHandler},
        #{actionType,javaType=org.nanoboot.powerframework.time.moment.UniversalDateTime,jdbcType=VARCHAR,typeHandler=org.nanoboot.octagon.entity.typehandlers.ActionTypeTypeHandler},
        #{type},
        #{objectId,javaType=java.util.UUID,jdbcType=VARCHAR,typeHandler=org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler},

        #{data,javaType=org.nanoboot.powerframework.json.JsonObject,jdbcType=VARCHAR,typeHandler=org.nanoboot.octagon.entity.typehandlers.JsonObjectTypeHandler},
        #{name},
        #{comment},

        #{revisionNumber}
        )
    </insert>

    <delete id="delete" parameterType="String">
            DELETE FROM "ACTION_LOG"
            WHERE "ID" = #{id}
    </delete>

    <select id="list" parameterType="String" resultMap="actionLogResultMap">
        SELECT
        <include refid="actionLogColumns"/>
        FROM "ACTION_LOG"
        WHERE ${value}
    </select>

    <select id="findMaxRevisionNumber" parameterType="org.nanoboot.octagon.entity.core.EntityReference" resultType="Integer">
        SELECT
        MAX(REVISION_NUMBER)
        FROM "ACTION_LOG"
        WHERE "TYPE" = #{param1} AND "OBJECT_ID" = #{param2}
    </select>


    <select id="getDateOfLastModification" parameterType="org.nanoboot.octagon.entity.core.EntityReference" resultType="String">
        SELECT
        UNIVERSAL_DATE_TIME
        FROM "ACTION_LOG"
        WHERE "ACTION_TYPE"='UPDATE' AND "TYPE" = #{param1} AND "OBJECT_ID" = #{param2} AND 
        REVISION_NUMBER = 
        (
        SELECT
        MAX(REVISION_NUMBER)
        FROM "ACTION_LOG"
        WHERE "ACTION_TYPE"='UPDATE' AND "TYPE" = #{param1} AND "OBJECT_ID" = #{param2}
        )
    </select>

    <!-- Labels -->
    <resultMap id="labelResultMap" type="org.nanoboot.octagon.entity.classes.EntityLabel">
        <id property="id" column="ID"/>
        <result property="label" column="NAME"/>
    </resultMap>

    <sql id="labelColumns">
        "ID", "NAME"
    </sql>

    <select id="getLabel" parameterType="String" resultType="String">
        SELECT ID, (name || ' : ' || case when object_id is null then '' else object_id end) AS NAME FROM "ACTION_LOG"
        WHERE "ID" = #{id}
    </select>
    <select id="getLabels" resultMap="labelResultMap">
        SELECT ID, (name || ' : ' || case when object_id is null then '' else object_id end) AS NAME FROM "ACTION_LOG"
    </select>
</mapper>
