<?xml version="1.0" encoding="UTF-8"?>

<!--
 Octagon: Database frontend.
 Copyright (C) 2020-2022 the original author or authors.

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; version 2
 of the License only.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.nanoboot.octagon.plugin.pinning.impl.mappers.PinningMapper">

    <resultMap id="pinningResultMap" type="org.nanoboot.octagon.plugin.pinning.classes.Pinning">
        <id property="id" column="ID" typeHandler="org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler"/>

        <result property="type" column="TYPE"/>
        <result property="objectId" column="OBJECT_ID" typeHandler="org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler"/>

        <result property="sortkey" column="SORTKEY"/>
        <result property="comment" column="COMMENT"/>
    </resultMap>

    <sql id="pinningColumns">
        "ID",
        "TYPE", "OBJECT_ID",
        "SORTKEY", "COMMENT"
    </sql>

    <select id="read" parameterType="String" resultMap="pinningResultMap">
        SELECT
        <include refid="pinningColumns"/>
        FROM "PINNING"
        WHERE "ID" = #{id}
    </select>

    <update id="update" parameterType="org.nanoboot.octagon.plugin.pinning.classes.Pinning">
        UPDATE "PINNING" SET

        "TYPE" = #{type},
        "OBJECT_ID" = #{objectId},

        "SORTKEY" = #{sortkey},
        "COMMENT" = #{comment}
        WHERE "ID" = #{id}
    </update>

    <insert id="create" parameterType="org.nanoboot.octagon.plugin.pinning.classes.Pinning">
        INSERT INTO "PINNING" (<include refid="pinningColumns"/>)
        VALUES
        (
        #{id,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler},

        #{type},
        #{objectId,javaType=java.util.UUID,jdbcType=VARCHAR,typeHandler=org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler},

        #{sortkey},
        #{comment}
        )
    </insert>

    <delete id="delete" parameterType="String">
            DELETE FROM "PINNING"
            WHERE "ID" = #{id}
    </delete>

    <select id="list" parameterType="String" resultMap="pinningResultMap">
        SELECT
        <include refid="pinningColumns"/>
        FROM "PINNING"
        WHERE ${value}
        -- ONLY TEMP- TODO - REMOVE AND REPLACE BY ORDER BY IN JAVA
        ORDER BY case when "SORTKEY" is null then 999999 else "SORTKEY" end ASC, "TYPE"

    </select>

    <select id="isPinned" parameterType="String" resultType="boolean">
        SELECT
        CASE WHEN count(*) > 0 THEN 1 ELSE 0 END
        FROM "PINNING"
        WHERE "ID" = #{id}
    </select>


    <!-- Labels -->
    <resultMap id="labelResultMap" type="org.nanoboot.octagon.entity.classes.EntityLabel">
        <id property="id" column="ID"/>
        <result property="label" column="NAME"/>
    </resultMap>

    <sql id="labelColumns">
        "ID", "NAME"
    </sql>

    <select id="getLabel" parameterType="String" resultType="String">
        SELECT ID, (TYPE || ' : ' || OBJECT_ID) AS NAME FROM "PINNING" WHERE "ID" = #{id}
    </select>
    <select id="getLabels" resultMap="labelResultMap">
        SELECT ID, (TYPE || ' : ' || OBJECT_ID) AS NAME FROM "PINNING"
    </select>



</mapper>
