<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 Octagon: Database frontend.
 Copyright (C) 2020-2022 the original author or authors.

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; version 2
 of the License only.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<mapper namespace="org.nanoboot.octagon.entity.impl.mappers.SqlQueryMapper">

    <resultMap id="sqlQueryResultMap" type="org.nanoboot.octagon.entity.classes.SqlQuery">
        <id property="id" column="ID" typeHandler="org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler"/>

        <result property="name" column="NAME"/>
        <result property="type" column="TYPE"/>

        <result property="sql" column="SQL"/>
        <result property="description" column="DESCRIPTION"/>

        <result property="foreignKeysLegend" column="FOREIGN_KEYS_LEGEND"/>

        <result property="todo" column="TODO"/>
    </resultMap>

    <sql id="sqlQueryColumns">
        "ID",
        "NAME", "TYPE",
        "SQL", "DESCRIPTION",
        "FOREIGN_KEYS_LEGEND","TODO"
    </sql>

    <select id="read" parameterType="String" resultMap="sqlQueryResultMap">
        SELECT
        <include refid="sqlQueryColumns"/>
        FROM "SQL_QUERY"
        WHERE "ID" = #{id}
    </select>

    <update id="update" parameterType="org.nanoboot.octagon.entity.classes.SqlQuery">
        UPDATE "SQL_QUERY" SET

        "NAME" = #{name},
        "TYPE" = #{type},

        "SQL" = #{sql},
        "DESCRIPTION" = #{description},

        "FOREIGN_KEYS_LEGEND" = #{foreignKeysLegend},
        "TODO" = #{todo}
        WHERE "ID" = #{id}
    </update>

    <insert id="create" parameterType="org.nanoboot.octagon.entity.classes.SqlQuery">
        INSERT INTO "SQL_QUERY" (<include refid="sqlQueryColumns"/>)
        VALUES
        (
        #{id,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler},

        #{name},
        #{type},
        #{sql},
        #{description},

        #{foreignKeysLegend},
        #{todo}
        )
    </insert>

    <delete id="delete" parameterType="String">
            DELETE FROM "SQL_QUERY"
            WHERE "ID" = #{id}
    </delete>

    <select id="list" parameterType="String" resultMap="sqlQueryResultMap">
        SELECT
        <include refid="sqlQueryColumns"/>
        FROM "SQL_QUERY"
        WHERE ${value}
    </select>

    <!-- Labels -->
    <resultMap id="labelResultMap" type="org.nanoboot.octagon.entity.classes.EntityLabel">
        <id property="id" column="ID"/>
        <result property="label" column="NAME"/>
    </resultMap>

    <sql id="labelColumns">
        "ID", "NAME"
    </sql>

    <select id="getLabel" parameterType="String" resultType="String">
        SELECT
            "NAME"
        FROM "SQL_QUERY"
        WHERE "ID" = #{sqlQueryId}
    </select>
    <select id="getLabels" resultMap="labelResultMap">
        SELECT
        <include refid="labelColumns"/>
        FROM "SQL_QUERY"
    </select>

</mapper>
