<?xml version="1.0" encoding="UTF-8"?>

<!--
 Octagon: Database frontend.
 Copyright (C) 2020-2022 the original author or authors.

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; version 2
 of the License only.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nanoboot.octagon.plugin.whining.impl.mappers.WhiningAssignmentMapper">

    <resultMap id="whiningAssignmentResultMap" type="org.nanoboot.octagon.plugin.whining.classes.WhiningAssignment">
        <id property="id" column="ID" typeHandler="org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler"/>

        <result property="title" column="TITLE"/>
        <result property="whiningId" column="WHINING_ID" typeHandler="org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler"/>

        <result property="queryId" column="QUERY_ID" typeHandler="org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler"/>
        <result property="sqlQueryId" column="SQL_QUERY_ID" typeHandler="org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler"/>

        <result property="sortkey" column="SORTKEY"/>
    </resultMap>

    <sql id="whiningAssignmentColumns">
        "ID",
        "TITLE", "WHINING_ID",
        "QUERY_ID", "SQL_QUERY_ID",
        "SORTKEY"
    </sql>

    <insert id="create" parameterType="org.nanoboot.octagon.plugin.whining.classes.WhiningAssignment">
        INSERT INTO "WHINING_ASSIGNMENT" (<include refid="whiningAssignmentColumns"/>)
        VALUES
        (
        #{id,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler},

        #{title},
        #{whiningId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler},

        #{queryId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler},
        #{sqlQueryId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler},

        #{sortkey}
        )
    </insert>

    <select id="read" parameterType="String" resultMap="whiningAssignmentResultMap">
        SELECT
        <include refid="whiningAssignmentColumns"/>
        FROM "WHINING_ASSIGNMENT"
        WHERE "ID" = #{id}
    </select>

    <update id="update" parameterType="org.nanoboot.octagon.plugin.whining.classes.WhiningAssignment">
        UPDATE "WHINING_ASSIGNMENT" SET

        "TITLE" = #{title},
        "WHINING_ID" = #{whiningId},

        "QUERY_ID" = #{queryId},
        "SQL_QUERY_ID" = #{sqlQueryId},

        "SORTKEY" = #{sortkey}

        WHERE "ID" = #{id}
    </update>

    <delete id="delete" parameterType="String">
            DELETE FROM "WHINING_ASSIGNMENT"
            WHERE "ID" = #{id}
    </delete>

    <select id="list" parameterType="String" resultMap="whiningAssignmentResultMap">
        SELECT
        <include refid="whiningAssignmentColumns"/>
        FROM "WHINING_ASSIGNMENT"
        WHERE ${value}
    </select>


    <!-- Labels -->
    <resultMap id="labelResultMap" type="org.nanoboot.octagon.entity.classes.EntityLabel">
        <id property="id" column="ID"/>
        <result property="label" column="NAME"/>
    </resultMap>

    <sql id="labelColumns">
        "ID", "TITLE" as "NAME"
    </sql>

    <select id="getLabel" parameterType="String" resultType="String">
        SELECT
            "TITLE" as "NAME"
        FROM "WHINING_ASSIGNMENT"
        WHERE "ID" = #{id}
    </select>
    <select id="getLabels" resultMap="labelResultMap">
        SELECT
        <include refid="labelColumns"/>
        FROM "WHINING_ASSIGNMENT"
    </select>
</mapper>
