#files to ignore

*.metadata/**
*.recommenders/**
*/target/**
*/build/**
*.idea/**

*.iml
#*.class

localMavenRepo/.m2*
localMavenRepo.zip
m2-cache-repository/.m2*
m2-cache-repository.zip


/octagon-core/target/
/octagon-backup/target/
/octagon-entity/target/
/octagon-plugin-api/target/
/octagon-plugin-main/target/
/octagon-client/target/
/octagon-jsonlite/target/
/octagon-plugin-system/target/
/octagon-html/target/
/octagon-struts/target/
/octagon-reminder/target/
/octagon-mail-impl/target/
/octagon-whining-impl/target/
/octagon-web/target/


#Netbeans
**nb-configuration.xml
**nfbactions.xml
.env
**.env

octagon-web/src/main/resources/log4j2.xml
/octagon-plugin-api/nbproject/
/target/
/octagon-plugin-parent/target/
/octagon-batch/target/
oct.confpath/*
/octagon-clazz-loader/target/
